body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #333;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

h2 {
    color: #ff9800;
}

#personal-info p {
    font-size: 1.2em;
}

#links ul {
    list-style: none;
    padding: 0;
}

#links li {
    margin: 10px 0;
}

#links a {
    color: #ff9800;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

#links a i {
    margin-right: 10px;
}

#links a:hover {
    color: #ff5722;
}

footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #333;
    position: fixed;
    width: 100%;
    bottom: 0;
}